*.mat binary            
*.p binary 
*.slx binary 
*.mdl binary 
*.mdlp binary 
*.slxp binary 
*.sldd binary 
*.mexa64 binary 
*.mexw32 binary 
*.mexw64 binary 
*.mexmaci64 binary 
*.xls binary 
*.xlsx binary 
*.doc binary 
*.docx binary 
*.pdf binary 
*.jpg binary 
*.png binary 
